<%# content_for :header do %>
<script>
function calculate()
{
	var day_second = 86400;
	var diff = parseFloat($('#custom_difficulty').val()).toFixed(2);
	var exchange_rate = parseFloat($('#custom_exchange_rate').val()).toFixed(2);
	var btcblock = 25;
	var power32 = Math.pow(2,32);
	
	// 取得算力單位
	var hash_unit = parseInt($('#hash_unit_select').val())+1;
	var hash_rate = parseFloat($('#custom_hash_rate').val())*Math.pow(1000, hash_unit);
	// console.log("%i, %f", hash_unit, hash_rate);
	
	// 計算結果 且 印出
	if(!isNaN(diff) && !isNaN(exchange_rate) && !isNaN(hash_rate)) {
		var btc_per_day = day_second*hash_rate*btcblock/(diff*power32);
		var cash_per_day = day_second*hash_rate*btcblock/(diff*power32)*exchange_rate;
		$('#custom_answer_btc').val(btc_per_day);
		$('#custom_answer_cash').val(cash_per_day.toFixed(3));
		$('#custom_answer_btc_week').val(btc_per_day*7);
		$('#custom_answer_cash_week').val((cash_per_day*7).toFixed(3));
		$('#custom_answer_btc_month').val(btc_per_day*30);
		$('#custom_answer_cash_month').val((cash_per_day*30).toFixed(3));
	} else {
		alert('input float');
	}
}

function changeCashUnit()
{
	var cash = parseFloat($('#custom_answer_cash').val());
	var cash_week = parseFloat($('#custom_answer_cash_week').val());
	var cash_month = parseFloat($('#custom_answer_cash_month').val());
	if($(this).val() == '美金') {
		cash = cash/30;
		cash_week = cash_week/30;
		cash_month = cash_month/30;
	} else {
		cash = cash*30;
		cash_week = cash_week*30;
		cash_month = cash_month*30;
	}
	$('#custom_answer_cash').val(cash);
	$('#custom_answer_cash_week').val(cash_week);
	$('#custom_answer_cash_month').val(cash_month);
}

jQuery(function($){
 	// $('#submit_me').click(submit_me);
	document.getElementById("submit_me").onclick=calculate;
	
	$("#cash_estimate_select").change(changeCashUnit);
});
</script>
<%# end %>

<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>Welcome to the Bitcoin Calculator</h1>

	<h2>
		<!-- This is the home page for the
			
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		sample application. -->
		<%= '現在難度: ' + @difficulty %>
		<br>
		<%= '現在匯率: ' + @exchange_rate %>
	</h2>
	
	<p>
		<%= label_tag :custom_difficulty, '自訂難度' %>
		<%= text_field_tag 'custom_difficulty', @difficulty %>
	</p>
	<p>
		<%= label_tag :custom_exchange_rate, '自訂匯率' %>
		<%= text_field_tag 'custom_exchange_rate', @exchange_rate %>
	</p>
	<p>
		<%= label_tag :custom_hash_rate, '運算能力' %>
		<%= text_field_tag 'custom_hash_rate' %>
		<%= select_tag :hash_unit_select, "<option value='1'>MH/s</option><option value='2'>GH/s</option><option value='3'>TH/s</option>".html_safe %>
	</p>
	<hr>
    <p>
        <%= label_tag :custom_answer_label, '運算結果' %><br>
        <%= text_field_tag :custom_answer_btc %>
		<%= label_tag :btc_label, 'BTC/天' %>
        <%= text_field_tag :custom_answer_cash %>
		<%= label_tag :btc_label, '/天' %>
		<%= select_tag :cash_estimate_select, "<option>美金</option><option>台幣</option>".html_safe %>
    </p>
    <p>
        <%= text_field_tag :custom_answer_btc_week %>
		<%= label_tag :btc_label_week, 'BTC/週' %>
        <%= text_field_tag :custom_answer_cash_week %>
		<%= label_tag :btc_label, '/週' %>
    </p>
    <p>
        <%= text_field_tag :custom_answer_btc_month %>
		<%= label_tag :btc_label_month, 'BTC/月' %>
        <%= text_field_tag :custom_answer_cash_month %>
		<%= label_tag :btc_label, '/月' %>
    </p>
		<%= submit_tag "開始計算", class: "btn btn-large btn-primary" , id: 'submit_me' %>
	<!-- <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %> -->
</div>

<!-- <%= link_to image_tag("rails.png", alt: "Rails"), 'lhttp://rubyonrails.org/' %> -->
