<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "比特幣計算機", root_path, id: "logo" %>
			<!-- <nav>
				<ul class="nav nav-pills pull-right">
					<li><%= link_to "Home",    '#' %></li>
					<li><%= link_to "Help",    '#' %></li>
					<li><%= link_to "Sign in", '#' %></li>
				</ul>
			</nav> -->
		</div>
	</div>
</header>